{% extends "base.html" %}
{% load static %}

{% block page_title %}
{{ text | title }}
{% endblock %}

{% block css_block %}
<link rel="stylesheet" href={% static "css/Global.css" %}>
<link rel="stylesheet" href={% static "css/home.css" %}>
<link rel="stylesheet" href={% static 'css/homeNav.css' %}>
<link rel="stylesheet" href={% static "css/UserInfo.css" %}>
<link rel="stylesheet" href={% static "css/NavigationOptions.css" %}>
<link rel="stylesheet" href={% static "css/AttendanceCalendar.css" %}>
<link rel="stylesheet" href={% static "css/AttendanceDetailsCard.css" %}>

<script src={% static 'js/script.js' %}></script>


{% endblock %}

{% block content %}

{% include "Nav.html" %}

{% with url="/users" slug=slug afterSlug="edit" %}
{% include "UserInfo.html" %}
{% endwith %}

{% with page="attendanceHistory" %}
{% include "NavigationOptions.html" %}
{% endwith %}

<h1 class="title p-10" >Attendance History</h1>

{% with page="attendanceHistory" app="users" data=tableData title=tableTitle action='/users/attendance-history' slug=slug year=year %}
{% include "AttendanceCalendar.html" %}
{% endwith %}

<script src={% static 'js/AttendanceCalendar.js' %}></script>
{% endblock %}