<ul class=" w-full attendance_card flex justify-center items-center flex-col">
    <li class="w-full attendance_row attendance_row_1st">
        <ul class="w-full flex justify-between items-center">
            <li class="MediumText">Wed, Aug 13, 2021</li>
            <li>
                <ul class="flex justify-center items-center attendance_tag_card">
                    <li class="attendance_dot"></li>
                    <li class="attendance_tag">On Time </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="w-full attendance_row flex justify-evenly">
        <ul class="w-full">
            <li class="w-full lightText">Check in</li>
            <li class=" w-full darkText">9:00 AM</li>
        </ul>

        <ul class="w-full">
            <li class="w-full lightText">Check in</li>
            <li class="w-full darkText">5:00 PM</li>
        </ul>

        <ul class="w-full">
            <li class="w-full lightText">Total</li>
            <li class="w-full darkText">8 hr</li>
        </ul>
    </li>
</ul>