<div class="consumedLeaveContainer">
    <ul class="flex justify-between items-center con_top_section">
        <li>
            <ul>
                <li class="con_title">
                    Consumed leave types
                </li>
                <li class="">
                    <ul class="con_row_details">
                        <li>
                            <span class="con_title_1">PL</span>
                            <span>Privilege Leave</span>
                        </li>
                        <li>
                            <span class="con_title_1">CL</span>
                            <span>Casual Leave</span>
                        </li>
                        <li>
                            <span class="con_title_1">SL</span>
                            <span>Sick Leave</span>
                        </li>
                        <li>
                            <span class="con_title_1">ML</span>
                            <span>Maternity Leave</span>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="chart_container">
            <ul>
                <li>
                    <canvas id="consumedLeaveChart"></canvas>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="con_tracker_main_box">
        <li class="con_tracker_continer">
            <ul class="flex justify-center items-center">
                <li class="con_title_1">PL</li>
                <li class="con_tracker">
                    <div style="width: 20%; background-color: var(--blue-primary)" class="con_mover"></div>
                </li>
                <li class="flex justify-center items-center">
                    <span>10</span>
                    <span>/12</span>
                </li>
            </ul>
        </li>

        <li class="con_tracker_continer">
            <ul class="flex justify-center items-center">
                <li class="con_title_1">CL</li>
                <li class="con_tracker">
                    <div style="transition: width 0.5s ease; width: 80%; background-color: var(--purple-primary)"
                        class="con_mover"></div>
                </li>
                <li class="flex justify-center items-center">
                    <span>09</span>
                    <span>/12</span>
                </li>
            </ul>
        </li>

        <li class="con_tracker_continer">
            <ul class="flex justify-center items-center">
                <li class="con_title_1">SL</li>
                <li class="con_tracker">
                    <div style="width: 70%; background-color: var(--pink-primary)" class="con_mover"></div>
                </li>
                <li class="flex justify-center items-center">
                    <span>02</span>
                    <span>/12</span>
                </li>
            </ul>
        </li>

        <li class="con_tracker_continer">
            <ul class="flex justify-center items-center">
                <li class="con_title_1">ML</li>
                <li class="con_tracker">
                    <div style="width: 50%; background-color: var(--green-primary)" class="con_mover"></div>
                </li>
                <li class="flex justify-center items-center">
                    <span>10</span>
                    <span>/12</span>
                </li>
            </ul>
        </li>
    </ul>
</div>

<script>
    // type , id , data , label , backgroundColor
    // function createChart(type, id, data, label, backgroundColor) {
    //     new Chart(document.getElementById(id), {
    //         type: type,
    //         data: data = {
    //             // labels: [
    //             //     'Red',
    //             //     'Blue',
    //             //     'Yellow'
    //             // ],
    //             datasets: [{
    //                 label: label,
    //                 data: data,
    //                 backgroundColor: backgroundColor,
    //                 hoverOffset: backgroundColor?.length
    //             }]
    //         },
    //         // options: {
    //         //     scales: {
    //         //         y: {
    //         //             beginAtZero: true
    //         //         }
    //         //     }
    //         // }
    //     });
    // }

    window.addEventListener('load', function () {
        // Your Chart.js code here
        createChart('doughnut', "consumedLeaveChart", [122, 78], "Consumed Leave", ["#017BF6", "#CC6EE3", "#FF6EB4", "#FF9181", "#FE674C", "#F9D600", "#F9F871", "#5CB616"])
    });

</script>