{% extends "base.html" %}
{% load static %}

{% block page_title %}
{{user.firstName | title}} {{user.middleName | title}} {{user.lastName | title}} 
{% endblock %}

{% block css_block %}
<!-- for loader -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<link rel="stylesheet" href={% static "css/Global.css" %}>
<link rel="stylesheet" href={% static "css/home.css" %}>
<link rel="stylesheet" href={% static 'css/homeNav.css' %}>
<link rel="stylesheet" href={% static "css/UserInfo.css" %}>
<link rel="stylesheet" href={% static "css/Dotnut.css" %}>
<link rel="stylesheet" href={% static "css/NavigationOptions.css" %}>
<link rel="stylesheet" href={% static "css/ConsumedLeave.css" %}>



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src={% static 'js/script.js' %}></script>
<script src={% static "js/chart.js" %}></script>
{% endblock %}

{% block content %}
<div>
    {% include "Nav.html" %}
    {% include "UserInfo.html" %}
    {% with page="home"%}
    {% include "NavigationOptions.html" %}
    {% endwith %}
    <!-- style="width: 500px;" -->
    <!-- style="display: grid; grid-template-columns:1fr 1fr; gap: 20px;" -->
    <div class="user-chart-component">
        {% with id="chart1" %}
        {% include "dotnut.html" %}
        {% endwith %}

        {% with id="chart2" %}
        {% include "LineChart.html" %}
        {% endwith %}
    </div>
    
</div>
{% endblock %}