{% extends "base.html" %}
{% csrf_token %}
{% load static %}
{% block page_title %}
{{ text | title }}
{% endblock %}

{% block css_block %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<link rel="stylesheet" href={% static "css/Global.css" %}>
<link rel="stylesheet" href={% static "css/Table.css" %}>
<link rel="stylesheet" href={% static 'css/homeNav.css' %}>
<link rel="stylesheet" href={% static "css/CreateOrganization.css" %}>
<link rel="stylesheet" href={% static "css/UserInfo.css" %}>
<link rel="stylesheet" href={% static "css/NavigationOptions.css" %}>
<link rel="stylesheet" href={% static "css/Pagination.css" %}>
<link rel="stylesheet" href={% static "css/LeaveRequestDetails.css" %}>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src={% static 'js/script.js' %}></script>


{% endblock %}

{% block content %}

{% include "Nav.html" %}

<div class="flex justify-center iteams-center leaveRequestFrame">
    <ul class="w-full shadow leaveRequestContainer">
        <li class="w-full leaveReqRow firstRow">
            <ul class="w-full flex iteams-center justify-between">
                <li class="darkText leaveReqTags">{{data.leaveType}}</li>
                <li class="darkText leaveReqTags">
                    <select name="status" id="">
                        <option value="Pending">PENDING</option>
                        <option value="Accepted">ACCEPTED</option>
                        <option value="Rejected">REJECTED</option>
                    </select>
                    <!-- {{data.status}} -->
                </li>
            </ul>
        </li>
        <li class="w-full leaveReqRow secondRow">
            <ul class="w-full flex iteams-center justify-between">
                <li class="w-full ">
                    <ul class="w-full ">
                        <li class="w-full lightText sec_row">From Date</li>
                        <li class="w-full darkText ">{{data.fromDate}}</li>
                    </ul>
                </li>
                <li class="w-full ">
                    <ul class="w-full ">
                        <li class="w-full lightText sec_row">From Date</li>
                        <li class="w-full darkText ">{{data.toDate}}</li>
                    </ul>
                </li>
                <li class="w-full ">
                    <ul class="w-full ">
                        <li class="w-full lightText sec_row">Total</li>
                        <li class="w-full darkText ">3</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="w-full leaveReqRow">
            {{data.reason}}
        </li>
    </ul>
</div>

{% endblock %}
