<ul class="flex justify-between items-center userNav">
    <li>
        <ul class=" flex items-center">
            <li class="logo cursor-pointer">
                {% with width=30 height=30 color="#3D4756"%}
                {% include 'SvgIcon/AttendanceIco.html' %}
                {% endwith %}
            </li>
            <li class="organization">
                <div class="flex justify-start items-center">
                    <div id="orgName">Organization</div>
                    <div class="org-list-open-btn flex justify-center items-center flex-col"
                        onclick="togglePopOver('listContainer','org-list-open-btn')" aria-expanded="false">
                        <!-- onclick="getAllOrganizationList()" -->
                        <span class="org-list-open-arrow"
                        >
                            {% with width=20 height=20 color="#3D4756"%}
                            {% include 'SvgIcon/CodeArrowIco.html' %}
                            {% endwith %}
                        </span>
                        <ul id="listContainer" class="list-container" aria-hidden="true">
                            <li >
                                <ul id="organizationList"></ul>
                            </li>
                            <li class="cursor-pointer">
                                <a href="/organization/create-organization">
                                    <ul class="flex justify-between items-center createNewOrg">
                                        <li>Create New</li>
                                        <li>
                                            {% with width=15 height=15 color="#3D4756"%}
                                            {% include 'SvgIcon/PlusIco.html' %}
                                            {% endwith %}
                                        </li>
                                    </ul>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </li>
    <li>
        <ul class="flex justify-between items-center user-nav-last-part">
            {% if isOriginalUser == "true" %}
            <li class="cursor-pointer">
                <a href="/users/change-password-pre">Change Password</a>
            </li>
            {% endif %}
            <a href="/users/log-out">
                <li class="log-out-btn cursor-pointer">Log Out</li>
            </a>
        </ul>
    </li>
</ul>
<script>
    console.log("user.currentActiveOrganization")
    console.log("{{user.currentActiveOrganization}}")
    async function getAllOrganizationList() {
        console.log("calling api")
        let organizationList = document.getElementById("organizationList")
        let orgName = document.getElementById("orgName")

        organizationList.innerHTML = '<li class="cursor-pointer loader text-sm"><i class="fas fa-spinner fa-spin"></i></li>'
        let response = await fetch("/organization/get-all-organization-list", {
            credentials: "same-origin", // include, *same-origin, omit
            headers: {
                "Content-Type": "application/json",
                // 'Content-Type': 'application/x-www-form-urlencoded',
            },
        });
        const {data} = await response.json()
        console.log("data")
        console.log(data)
        organizationList.innerHTML=""
        data?.forEach((org) => {
            if("{{user.currentActiveOrganization}}" == org._id){
                orgName.innerText = org.name
            }

            if("{{page}}" === "COMPANY_PROFILE"){
                document.title = org.name
            }
            organizationList.innerHTML  += `<li class="cursor-pointer ${ ("{{user.currentActiveOrganization}}" == org._id) ? 'activeOrg' : '' }"><a class="w-full" href="/organization/${org.slug}" >${org.name}</a></li>`
        });
        // 
    }
    getAllOrganizationList()
</script>