<ul class="flex justify-start items-center nav_option_container">
    <li class="flex justify-center items-center">
        <a href="/users/shashank-p-2301a45b-a322-4825-9141-d58d56fcb67c">
            <ul class="nav_link_card {% if page == 'home' %} active_nav_link_card {% endif %}">
                <li class="icon"></li>
                <li>Dashboard</li>
            </ul>
        </a>
        <a href="/users/attendance-history/shashank-p-2301a45b-a322-4825-9141-d58d56fcb67c">
            <ul class="nav_link_card {% if page == 'attendanceHistory' %} active_nav_link_card {% endif %}">
                <li class="icon"></li>
                <li>Attendance</li>
            </ul>
        </a>
    </li>
</ul>