<ul class="w-full flex justify-start items-center nav_option_container">
    <li class="flex justify-center items-center">
        <a href="{{baseUrl}}/{{endpoint}}/{{slug}}">
            <ul class="nav_link_card  {% if page == 'home' %} active_nav_link_card {% endif %}">
                <li class="icon"></li>
                <li class="w-full truncate navText">Dashboard</li>
            </ul>
        </a>
        {% if app != 'organization' %}
        <a href="{{baseUrl}}/{{endpoint}}/attendance-history/{{slug}}">
            <ul class="nav_link_card  {% if page == 'attendanceHistory' %} active_nav_link_card {% endif %}">
                <li class="icon"></li>
                <li class="w-full truncate navText">Attendance</li>
            </ul>
        </a>
        {% endif %}
        {% if navOptions.leave_request %}
            <a href="{{baseUrl}}/{{endpoint}}/leave-request/{{slug}}">
                <ul class="nav_link_card  {% if page == 'leave-request' %} active_nav_link_card  {% endif %}">
                    <li class="icon"></li>
                    <li class="w-full truncate navText">Leave Request</li>
                </ul>
            </a>
        {% endif %}
        {% if app == 'organization' %}
            {% if navOptions.job_title %}
                <a href="{{baseUrl}}/{{endpoint}}/job-title/{{slug}}">
                    <ul class="nav_link_card  {% if page == 'job-title' %} active_nav_link_card  {% endif %}">
                        <li class="icon">
                        </li>
                        <li class="w-full truncate navText">Job Title</li>
                    </ul>
                </a>  
            {% endif %}
            {% if navOptions.teams %}
                <a href="{{baseUrl}}/{{endpoint}}/teams/{{slug}}">
                    <ul class="nav_link_card  {% if page == 'teams' %} active_nav_link_card  {% endif %}">
                        <li class="icon"></li>
                        <li class="w-full truncate navText">Teams</li>
                    </ul>
                </a>
            {% endif %}
            {% if navOptions.employees %}
                <a href="{{baseUrl}}/{{endpoint}}/employees/{{slug}}">
                    <ul class="nav_link_card  {% if page == 'employees' %} active_nav_link_card  {% endif %}">
                        <li class="icon"></li>
                        <li class="w-full truncate navText">Employees</li>
                    </ul>
                </a>
            {% endif %}
        {% endif %}
    </li>
</ul>