{% extends "base.html" %}
{% load static %}

{% block page_title %}
{{ text | title }}
{% endblock %}

{% block css_block %}
<link rel="stylesheet" href={% static "css/Global.css" %}>
<link rel="stylesheet" href={% static "css/home.css" %}>
<link rel="stylesheet" href={% static "css/Table.css" %}>
<link rel="stylesheet" href={% static 'css/homeNav.css' %}>
<link rel="stylesheet" href={% static "css/UserInfo.css" %}>
<link rel="stylesheet" href={% static "css/NavigationOptions.css" %}>
<link rel="stylesheet" href={% static "css/AttendanceCalendar.css" %}>
<link rel="stylesheet" href={% static "css/AttendanceDetailsCard.css" %}>
<link rel="stylesheet" href={% static "css/Pagination.css" %}>


<script src={% static 'js/script.js' %}></script>


{% endblock %}

{% block content %}

{% include "Nav.html" %}

{% with url="/users" slug=slug afterSlug="edit" %}
{% include "UserInfo.html" %}
{% endwith %}

{% with page="leave-request" %}
{% include "NavigationOptions.html" %}
{% endwith %}

{% with page=page app="users" data=tableData title=tableTitle action='/users/leave-request'  slug=slug afterSlug="add" isEdit=isEdit isAutoConstructHref="false" columnCount=columnCount showAdd=isOriginalUser addAction=addAction %}
{% include "table.html" %}
{% endwith %}

{% with app="users" total=totalRequests action="/users/leave-request" slug=slug page=pageNo%}
{% include "pagination.html" %}
{% endwith %}


{% endblock %} 