<ul class="flex items-center flex-wrap userCard">
    <li class="userImageSec">
        <img src="../../static/images/tempImage.png" alt="">
    </li>
    <li>
        <ul class="userCardDetails flex flex-col justify-between items-start">
            <li class="userCard-top-section">
                <ul class="flex items-center userName-section">
                    <li class="userName">
                        <h1>Shashank P</h1>
                    </li>
                    <li class="user-role role cursor-pointer">Admin</li>
                    <li class="user-role type cursor-pointer">Full time</li>
                </ul>
                <p>UI/UX Developer</p>
            </li>
            <li class="flex items-center">
                <span class="icon userCardIcon">
                    {% with width=20 height=20 color="#3D4756"%}
                    {% include 'SvgIcon/EnvelopIco.html' %}
                    {% endwith %}
                </span>
                <span>19.shashank.p@gmail.com</span>
            </li>
            <li class="flex items-center">
                <span class="icon userCardIcon">
                    
                </span>
                <span>8970364828</span>
            </li>
            <li class="flex items-center">
                <span class="icon userCardIcon">
                    {% with width=20 height=20 color="#3D4756"%}
                    {% include 'SvgIcon/locationIco.html' %}
                    {% endwith %}
                </span>
                <span>Bengaluru</span>
            </li>
        </ul>
    </li>
</ul>