<ul class="flex items-center flex-wrap userCard">
    <li class="userImageSec">
        {% if userProfilePic == "False" %}
        <img src='../../../../static/images/default-user.webp' alt="" />
        {% else %}
        <img src={{userProfilePic}} alt="" />
        {% endif %}
    </li>
    <li>
        <ul class="userCardDetails flex flex-col justify-between items-start">
            <li class="userCard-top-section">
                <ul class="flex items-center userName-section">
                    <li class="userName mr-5">
                        <h1>{{user.firstName | title}} {{user.middleName | title}} {{user.lastName | title}}</h1>
                    </li>
                    {% if isOwner %}
                    <li class="user-role role cursor-pointer mr-5">Owner</li>
                    {% endif %}
                    {% if isOriginalUser %}
                    <li class="ml-5">
                        <a href="{{url}}/{{slug}}/{{afterSlug}}">
                            <abbr title="Edit">
                                {% with width=20 height=20 color="#3D4756"%}
                                {% include 'SvgIcon/PencileIco.html' %}
                                {% endwith %}
                            </abbr>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <p>{{userJobTitle | title}}</p>
            </li>
            <li class="flex items-center">
                <span class="icon userCardIcon">
                    {% with width=20 height=20 color="#3D4756"%}
                    {% include 'SvgIcon/EnvelopIco.html' %}
                    {% endwith %}
                </span>
                <span>{{user.email}}</span>
            </li>
            <li class="flex items-center">
                <span class="icon userCardIcon">
                    {% with width=20 height=20 color="#3D4756" %}
                    {% include 'SvgIcon/phoneIco.html' %}
                    {% endwith %}
                </span>
                <span>{{user.phoneNumber}}</span>
            </li>
            <li class="flex items-center">
                <span class="icon userCardIcon">
                    {% with width=20 height=20 color="#3D4756"%}
                    {% include 'SvgIcon/locationIco.html' %}
                    {% endwith %}
                </span>
                <span>{{user.address.city | title}} {{user.address.state | title}} {{user.address.country | title}}
                    {{user.address.code | title}}</span>
            </li>
        </ul>
    </li>
</ul>