.attendance_card {
    max-width: 500px;
    min-width: 200px;
    padding: 10px;
    border-radius: 10px;
}

.attendance_card_present{
    border: 1px solid var(--green-500);
    border-left: 5px solid var(--green-500);
}

.attendance_card_absent{
    border: 1px solid var(--red-500);
    border-left: 5px solid var(--red-500);
}

.attendance_row {
    padding: 10px 0;
}

.attendance_row_1st {
    border-bottom: 1px solid gray;
}

.lightText {
    font-size: 14px;
    color: gray;
    margin-bottom: 5px;
}

.attendance_tag_card {
    padding: 5px;
    border-radius: 5px;
    color: white !important;
}

.attendance_tag_card_green{
    background-color: var(--green-500);
}

.attendance_tag_card_red{
    background-color: var(--red-500);
}

.attendance_tag {}

.attendance_dot_green {
    background-color: var(--green-500);
}

.attendance_dot_red {
    background-color: var(--red-500);
}

.attendance_dot {
    width: 5px;
    height: 5px;
    border-radius: 5px;
    margin-right: 5px;
}

.todayAttendance{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    place-content: center;
    gap: 20px;
    padding: 20px;
}