.attendance_calendar{
    width: 90vw;
    min-width: 90vw;
    margin: 10px auto;
    border-radius: 10px;
}
.month_box {
    /* display: grid;
    gap: 5px;
    grid-template-columns: repeat(12, auto); */
    gap: 20px;
    padding: 10px;
}

.days_container {
    display: grid;
    grid-template-rows: repeat(7, 10px);
    grid-auto-flow: column;
    place-items: center;
    gap: 5px;
    margin: 10px;
}

.weekSec{
    grid-template-rows: repeat(7, 10px);
}

.day_box {
    width: 10px;
    height: 10px;
    border-radius: 2px;
    background-color: var(--slate-200);
    cursor: pointer;
}
.day_box:hover {
    border: 1px solid var(--slate-500);
}

.noAttendance{
    background-color: var(--slate-100);
}

.present25 {
    background-color: var(--green-200) !important;
}

.present50 {
    background-color: var(--green-400) !important;
}

.present75 {
    background-color: var(--green-600) !important;
}

.present100 {
    background-color: var(--green-800) !important;
}

.calender_label{
    margin: auto;
    margin: 10px 0;
}

.calender_label ul{
    margin-right: 10px;
}

.calender_label ul li{
    margin-left: 5px;
    font-size: 14px;
}

.month_title{
    font-size: 14px;
    text-align: center;
    color: var(--slate-500);
}

.calender_year_increment ,.calender_year_decrement{
    padding: 10px;
    border: 1px solid var(--slate-500);
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.calender_year_decrement_icon{
    transform: rotate(-90deg);
}
.calender_year_increment_icon{
    transform: rotate(90deg);
}

.weekText{
    font-size: 10px;
    text-align: start !important;
}

.calender_year_filter{
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
}

.bottomSecCalender{
    padding: 20px;
}

@media screen and (max-width : 500px) {
    .attendance_calendar{
        min-width: 100vw;
        width: 100vw;
        margin: 10px;
    }
}

