.lightText{
    font-size: 14px;
    color: var(--slate-500);
    font-weight: 500;
}

.leaveReqTags{
    text-transform: uppercase;
}

.leaveReqTags select{
    border: 0;
    font-size: 16px;
}

.darkText{
    font-weight: 500;
}

.sec_row{
    margin-bottom: 10px;
}

.leaveRequestContainer{
    width: 80vw;
    padding: 10px;
    border-radius: 10px;
}

.leaveReqRow{
    padding: 15px 0;
}

.secondRow , .firstRow{
    border-bottom: 1px solid var(--slate-200);
}

.leaveReqDetails{
    margin: 10px 0;
}
/* .mini_card{
    min-width: 50px;
} */

.secondRowUl{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-content: center;
    gap: 20px;
}

.secondRowUl li{
}

@media screen and (max-width : 700px) {
    .secondRowUl{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width : 500px) {
    .secondRowUl{
        grid-template-columns: repeat(2, 1fr);
    }
    
    .leaveRequestContainer{
        width: 95vw;
        padding: 5px;
        border-radius: 5px;
    }
    
    .leaveReqRow{
        padding: 10px 0;
    }
}