@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat:wght@200;400;500;600&family=PT+Sans&family=Philosopher:wght@700&family=Poppins:ital,wght@1,200&display=swap');

:root {
    --black: #3D4756;
    --slate-50: #f8fafc;
    --slate-100: #f1f5f9;
    --slate-200: #e2e8f0;
    --slate-500: #64748B;
    --slate-700: #334155;
    --hover: #f6f8fb;
    --blue-primary: #017BF6;
    --purple-primary: #CC6EE3;
    --pink-primary: #FF6EB4;
    --orange-primary: #FE674C;
    --orange_secondary: #FF9181;
    --yellow-primary: #F9D600;
    --yellow-secondary: #F9F871;
    --green-primary: #5CB616;
    --green-200: #bbf7d0;
    --green-500: #22c55e;
    --purple-200: #E9D5FF;
    --red-200: #fecaca;
    --red-500: #ef4444;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    list-style-type: none;
    color: var(--black);
    text-decoration: none;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-track {
    display: none;
}

input {
    outline: none;
}

body {
    width: 100vw;
    overflow-x: hidden;
    color: var(--black);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

/* font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Philosopher', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Sans', sans-serif; */


.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-normal {
    justify-content: normal;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-stretch {
    justify-content: stretch;
}

.items-start {
    align-items: flex-start;
}

.items-end {
    align-items: flex-end;
}

.items-center {
    align-items: center;
}

.items-baseline {
    align-items: baseline;
}

.items-stretch {
    align-items: stretch;
}

.cursor-pointer {
    cursor: pointer;
}

.icon {
    cursor: pointer;
}

.w-full {
    width: 100%;
}

.shadow {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.border {
    border: 1px solid var(--slate-500);
}

.errorlist li {
    color: var(--red-500) !important;
    margin-top: 10px;
    display: inline-block;
    font-size: 14px;
}

.loader i{
    color : var(--orange-primary) !important;
}

.text-xs {
    font-size: 0.75rem;/* 12px */
    line-height: 1rem;    /* 16px */
}

.text-sm {
    font-size: 0.875rem;/* 14px */
    line-height: 1.25rem;    /* 20px */
}

.text-base {
    font-size: 1rem;/* 16px */
   line-height: 1.5rem;
    /* 24px */
}

.text-lg {
    font-size: 1.125rem;/* 18px */
   line-height: 1.75rem;
    /* 28px */
}

.text-xl {
    font-size: 1.25rem;/* 20px */
   line-height: 1.75rem;
    /* 28px */
}

.text-2xl {
    font-size: 1.5rem;/* 24px */
   line-height: 2rem;
    /* 32px */
}

.text-3xl {
    font-size: 1.875rem;/* 30px */
    line-height: 2.25rem;    /* 36px */
}

.text-4xl {
    font-size: 2.25rem;/* 36px */
    line-height: 2.5rem;    /* 40px */
}

.text-5xl {font-size: 3rem;
    /* 48px */    line-height: 1;
}

.text-6xl {font-size: 3.75rem;
    /* 60px */    line-height: 1;
}

.text-7xl {font-size: 4.5rem;
   /* 72px */
    line-height: 1;
}

.truncate{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.title{
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
}



.box-shadow-sm{
    box-shadow: 0 1px 1px rgb(0 0 0 / 0.05);
}	

.box-shadow{
    box-shadow: 0 1px 2px rgb(0 0 0 / 0.1), 0 1px 1px rgb(0 0 0 / 0.06);
}	

.box-shadow-md{
    box-shadow: 0 4px 3px rgb(0 0 0 / 0.07), 0 2px 2px rgb(0 0 0 / 0.06);
}	

.box-shadow-lg{
    box-shadow: 0 10px 8px rgb(0 0 0 / 0.04) ,0 4px 3px rgb(0 0 0 / 0.1);
}	

.box-shadow-xl{
    box-shadow: 0 20px 13px rgb(0 0 0 / 0.03), 0 8px 5px rgb(0 0 0 / 0.08);
}	

.box-shadow-2xl{
    box-shadow: 0 25px 25px rgb(0 0 0 / 0.15);
}	

.box-shadow-none{
    box-shadow: 0 0 #0000;
}	

.border-light{
    border: 1px solid var(--slate-100);
}

.aspect-square{
    aspect-ratio: 1 / 1;
}	
.aspect-video{
    aspect-ratio: 16 / 9;
}	

.hidden{
    display: none;
}

button[type="submit"]{
    display: block;
    border: none;
    background-color: transparent;
}

td{
    max-width: 200px;    
}