.pagination{
    width: 100%;
    overflow-x: scroll;
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.pag_btn{
    width: 40px;
    height: 40px;
    border: 1px solid var(--black);
    user-select: none;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
}

.active_pag_btn{
    border: 1px solid var(--orange_secondary);
    background-color: var(--orange_secondary);
    color: white;
}

.pag_btn_action_next{
    transform: rotate(180deg);
}

.pag_btn_action{
    border: none;
    width: 50px;
    height: 40px;
    background-color: var(--orange-primary);
    color: white;
}