<div class="flex flex-col items-center  chartContainer box-shadow border-light">
    <ul class="flex justify-between items-center flex-wrap chart-top-nav">
            <li class="chart-title">Attendance Report</li>
            <li class=" date-filter-container ">
                <ul class="flex justify-center items-center chart-filter">
                    <li>
                        <span>From</span>
                        <input type="date" name="" id="">
                    </li>
                    <li>
                        <span>To</span>
                        <input type="date" name="" id="">
                    </li>
                </ul>
            </li>
    </ul>
    <div class="lineChart">
        <canvas id="id1"></canvas>
    </div>
</div>
<script>
        // console.log('{{id}}')
        new Chart(document.getElementById('id1'), {
            type: 'bar',
            data: {
                labels: [1, 2, 3, 4, 5, 6, 7],
                datasets: [{
                    label: 'My First Dataset', 
                    data: [65, 59, 80, 81, 56, 55, 40],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 205, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(201, 203, 207, 0.2)'
                    ],
                    borderColor: [
                        'rgb(255, 99, 132)',
                        'rgb(255, 159, 64)',
                        'rgb(255, 205, 86)',
                        'rgb(75, 192, 192)',
                        'rgb(54, 162, 235)',
                        'rgb(153, 102, 255)',
                        'rgb(201, 203, 207)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            },
        });
</script>