<ul class="pagination">
        <li id="prev" class="flex justify-center items-center pag_btn pag_btn_action" onclick="decrement()">
            {% with width=15 height=15 color="white"%}
            {% include 'SvgIcon/ArrowLeft.html' %}
            {% endwith %}
        </li>
        {% for x in y|rjust:total %}
            <li class="flex justify-center items-center pag_btn pag_btn_num" onclick="setPage('{{forloop.counter0}}')">{{forloop.counter}}</li>
            <!-- {{forloop.counter0}} -->
        {% endfor %}
        
        <li id="next" class="flex justify-center items-center pag_btn pag_btn_action pag_btn_action_next" onclick="increment()">
            {% with width=15 height=15 color="white"%}
            {% include 'SvgIcon/ArrowLeft.html' %}
            {% endwith %}
        </li>
    </ul>

    <script>
        let total = 10;
        let currIndex = 0;
        let next = document.getElementById("next")
        let prev = document.getElementById("prev")
        let pag_btn_num = document.getElementsByClassName("pag_btn_num")
        
        function increment(){
            removeActiveClass()
            console.log("increment")
            currIndex = (currIndex+1) % total
            setActiveClass()
        }
        
        function setActiveClass(){
            console.log("setActiveClass")
            console.log(currIndex)
            pag_btn_num[currIndex].classList.add("active_pag_btn")
        }
        setActiveClass()
        
        function removeActiveClass(){
            console.log("removeActiveClass")
            pag_btn_num[currIndex].classList.remove("active_pag_btn")
        }
        
        function setPage(pageNumber){
            console.log("setPage")
            removeActiveClass()
            currIndex = pageNumber
            setActiveClass()
        }
        
        function decrement(){
            console.log("decrement")
            removeActiveClass()
            currIndex = (currIndex - 1)
            
            if(currIndex == -1){
                currIndex = total -1
            }
            setActiveClass()
        }
</script>