<div class="flex justify-between item-center topSection">
    <ul class="flex justify-center items-center searchContainer">
        <li>
            <input type="text" placeholder="Search...">
        </li>
        <li class="icon searchIcon">
            {% with width=20 height=20 color="#3D4756"%}
                    {% include 'SvgIcon/SearchIco.html' %}
            {% endwith %}
            <!-- <svg fill="#000000" width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M16.3198574,14.9056439 L21.7071068,20.2928932 L20.2928932,21.7071068 L14.9056439,16.3198574 C13.5509601,17.3729184 11.8487115,18 10,18 C5.581722,18 2,14.418278 2,10 C2,5.581722 5.581722,2 10,2 C14.418278,2 18,5.581722 18,10 C18,11.8487115 17.3729184,13.5509601 16.3198574,14.9056439 Z M10,16 C13.3137085,16 16,13.3137085 16,10 C16,6.6862915 13.3137085,4 10,4 C6.6862915,4 4,6.6862915 4,10 C4,13.3137085 6.6862915,16 10,16 Z"/>
              </svg> -->
        </li>
    </ul>
    <ul>
        <li class="selectTag">
            <select name="" id="">
                <option value="">5</option>
                <option value="">10</option>
                <option value="">15</option>
                <option value="">20</option>
            </select>
        </li>
    </ul>
</div>
<div class="tableContainer">
    <table class="w-full table">
        <thead>
            <tr>
                <th>SI no.</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>01</td>
                <td>Shashank</td>
                <td>19.Shashank.p@gmail.com</td>
                <td>7845856985</td>
                <td>Blore</td>
            </tr>
            <tr>
                <td>02</td>
                <td>Rakesh</td>
                <td>rakesh.p@gmail.com</td>
                <td>7845333985</td>
                <td>Mysore</td>
            </tr>
            <tr>
                <td>03</td>
                <td>Raki</td>
                <td>raki@gmail.com</td>
                <td>9645856985</td>
                <td>Mandya</td>
            </tr>
            <tr>
                <td>04</td>
                <td>Shashi</td>
                <td>19.Shashi.p@gmail.com</td>
                <td>7744856996</td>
                <td>Blore</td>
            </tr>
        </tbody>
    </table>
</div>