{% load index_filter %}

<div class="flex justify-between item-center topSection">
    <form action="{{action}}{% if slug %}/{{slug}}{% endif %}" method="post">
        <ul class="flex justify-center items-center searchContainer">
            <li>
                <input type="text" name="search" value="{{search}}" placeholder="Search...">
            </li>
            <li class="icon searchIcon">
                {% csrf_token %}
                <input type="submit" value="" id="searchSubmit" class="hidden">
                <label for="searchSubmit">
                    {% with width=20 height=20 color="#3D4756"%}
                    {% include 'SvgIcon/SearchIco.html' %}
                    {% endwith %}
                </label>
                <!-- <svg fill="#000000" width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M16.3198574,14.9056439 L21.7071068,20.2928932 L20.2928932,21.7071068 L14.9056439,16.3198574 C13.5509601,17.3729184 11.8487115,18 10,18 C5.581722,18 2,14.418278 2,10 C2,5.581722 5.581722,2 10,2 C14.418278,2 18,5.581722 18,10 C18,11.8487115 17.3729184,13.5509601 16.3198574,14.9056439 Z M10,16 C13.3137085,16 16,13.3137085 16,10 C16,6.6862915 13.3137085,4 10,4 C6.6862915,4 4,6.6862915 4,10 C4,13.3137085 6.6862915,16 10,16 Z"/>
                  </svg> -->
            </li>
        </ul>
    </form>
    <ul>
        <form action="{{action}}{% if slug %}/{{slug}}{% endif %}" method="post" id="rowsSubmit">
            <li class="selectTag">
                {% csrf_token %}
                <input type="submit" value="" class="hidden">
                rows: <select name="rows" id="" onchange="submitRow()">
                    <option {% if 5  == rows %} selected {% endif %}  for="rows" value="5">5</option>
                    <option {% if 10 == rows  %} selected {% endif %}  for="rows" value="10">10</option>
                    <option {% if 15 == rows  %} selected {% endif %}  for="rows" value="15">15</option>
                    <option {% if 20 == rows  %} selected {% endif %}  for="rows" value="20">20</option>
                </select>
            </li>
        </form>
    </ul>
</div>
<div class="tableContainer">
    <table class="w-full table">
        <thead>
            <tr>
                <th>SI no.</th>
                {% for t in title %}
                <th>{{t}}</th>
                {% endfor %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{forloop.counter}}</td>
                {% for r in row %}
                <td>
                    {{ r }}
                </td>
                {% endfor %}
                <td class="flex actionContainer">
                    <span class="icon actionIcons">
                        <form action={{openAction}} method="get">
                            {% with width=20 height=20 color="#017BF6"%}
                            {% include 'SvgIcon/OpenIco.html' %}
                            {% endwith %}
                        </form>
                    </span>
                    <span class="icon actionIcons">
                        <form action={{editAction}} method="get">
                            {% with width=20 height=20 color="#22c55e"%}
                            {% include 'SvgIcon/PencileIco.html' %}
                            {% endwith %}
                        </form>
                    </span>
                    <span class="icon actionIcons">
                        <form action={{deleteAction}} method="get">
                            {% with width=20 height=20 color="#ef4444"%}
                            {% include 'SvgIcon/DeleteIco.html' %}
                            {% endwith %}
                        </form>
                    </span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    const submitOpen = () => {

    }
    const submitEdit = () => {

    }
    const submitDelete = () => {

    }
    const submitRow = () => {
        const rowsSubmit = document.getElementById("rowsSubmit")
        console.log(rowsSubmit)
        rowsSubmit.submit()

    }
</script>