{% load is_last %}

<form action="{{action}}{% if slug %}/{{slug}}{% endif %}" method="post" id="searchPaginationParam">
    <div class="flex justify-between item-center topSection">
        {% csrf_token %}
        <input type="submit" value="" class="hidden">
        <ul class="flex justify-center items-center searchContainer">
            <li>
                <input type="text" name="search" value="{{search}}" placeholder="Search...">
            </li>
            <li class="icon searchIcon">
                <label for="searchPaginationParam">
                    {% with width=20 height=20 color="#3D4756"%}
                    {% include 'SvgIcon/SearchIco.html' %}
                    {% endwith %}
                </label>
                <!-- <svg fill="#000000" width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M16.3198574,14.9056439 L21.7071068,20.2928932 L20.2928932,21.7071068 L14.9056439,16.3198574 C13.5509601,17.3729184 11.8487115,18 10,18 C5.581722,18 2,14.418278 2,10 C2,5.581722 5.581722,2 10,2 C14.418278,2 18,5.581722 18,10 C18,11.8487115 17.3729184,13.5509601 16.3198574,14.9056439 Z M10,16 C13.3137085,16 16,13.3137085 16,10 C16,6.6862915 13.3137085,4 10,4 C6.6862915,4 4,6.6862915 4,10 C4,13.3137085 6.6862915,16 10,16 Z"/>
                  </svg> -->
            </li>
        </ul>
        
        <ul class="flex items-center ">
            <li class="table_add_btn">
                <a id="link_to_add" href="{{action}}{% if slug %}/{{slug}}{% endif %}{%if afterSlug %}/{{afterSlug}}{% endif %}">
                    Add +
                </a>
            </li>
            <li class="selectTag">
                rows: <select name="rows" id="" onchange="searchPaginationParam()">
                    <option {% if 5 == rows %} selected {% endif %} for="rows" value="5">5</option>
                    <option {% if 10 == rows %} selected {% endif %} for="rows" value="10">10</option>
                    <option {% if 15 == rows %} selected {% endif %} for="rows" value="15">15</option>
                    <option {% if 20 == rows %} selected {% endif %} for="rows" value="20">20</option>
                </select>
            </li>
        </ul>
    </div>
</form>
<div class="tableContainer">
    <table class="w-full table">
        <thead>
            <tr>
                <th>SI no.</th>
                {% for t in title %}
                <th>{{t | title}}</th>
                {% endfor %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{forloop.counter}}</td>
                {% for r in row %}
                {% if forloop.counter == columnCount%}
                <td class="flex justify-center item-center actionContainer">
                    {% if openAction %}
                    <span class="icon actionIcons">
                        <a href="{{action}}{% if slug %}/{{slug}}/{{r}}{% endif %}">
                            {% with width=20 height=20 color="#017BF6"%}
                            {% include 'SvgIcon/OpenIco.html' %}
                            {% endwith %}
                        </a>
                    </span>
                    {% endif %}
                    {% if editAction %}
                    <span class="endpoint hidden">{{r}}</span>
                    <span class="icon actionIcons">
                        <a href="{{action}}{% if slug %}/{{slug}}/edit/{{r}}{% endif %}" >
                            {% with width=20 height=20 color="#22c55e"%}
                            {% include 'SvgIcon/PencileIco.html' %}
                            {% endwith %}
                        </a>
                    </span>
                    {% endif %}
                    {% if deleteAction %}
                    <span class="icon actionIcons">
                        <form action="{{action}}{% if slug %}/{{slug}}/delete/{{r}}{% endif %}" method="post">
                            <input type="text" name="id" value="" class="hidden">
                            {% csrf_token %}
                            <button type="submit">
                                {% with width=20 height=20 color="#ef4444"%}
                                {% include 'SvgIcon/DeleteIco.html' %}
                                {% endwith %}
                            </button>
                        </form>
                    </span>
                    {% endif %}
                </td>
                {% else %}
                <td>
                    {{r}}
                </td>
                {% endif %}
                <!-- {{forloop.counter|isLast:columnCount}} -->
                {% endfor %}

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    const endpoint = document.getElementsByClassName("endpoint")
    const link_to_add = document.getElementById("link_to_add")
    url_path = endpoint[0].innerText
    url_path = url_path.split("/")

    console.log("isAutoConstructHref")
    console.log("{{isAutoConstructHref}}")

    if( "{{isAutoConstructHref}}" == 'True' && Array.isArray(url_path) && url_path.length > 0){
        link_to_add.setAttribute('href', `{{action}}/{{slug}}/add/${url_path[0]}` );
    }

    const submitOpen = () => {

    }
    const submitEdit = () => {

    }
    const submitDelete = () => {

    }
    const searchPaginationParam = () => {
        const searchPaginationParamForm = document.getElementById("searchPaginationParam")
        console.log(searchPaginationParamForm)
        searchPaginationParamForm.submit()

    }
</script>