{% load static %}
<ul class="flex items-center flex-wrap userCard">
    <li class="userImageSec">
        <img src="{{logo}}" class="OrgProfileImage" alt="{{org.name | title}}">
    </li>
    <li>
        <ul class="userCardDetails flex flex-col justify-between items-start">
            <li class="userCard-top-section">
                <ul class="flex items-center userName-section">
                    <li class="userName">
                        <h1>{{org.name | title}}</h1>
                    </li>
                    {% if isOwner %}
                    <li class="ml-5">
                        <a href="/organization/{{slug}}/edit">
                            <abbr title="Edit">
                                {% with width=20 height=20 color="#3D4756"%}
                                {% include 'SvgIcon/PencileIco.html' %}
                                {% endwith %}
                            </abbr>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </li>
            <li class="flex items-center">
                <span class="icon userCardIcon">
                    {% with width=20 height=20 color="#3D4756"%}
                    {% include 'SvgIcon/EnvelopIco.html' %}
                    {% endwith %}
                </span>
                <span>{{org.contactEmail}}</span>
            </li>
            <li class="flex items-center">
                <span class="icon userCardIcon">
                    {% with width=20 height=20 color="#3D4756"%}
                    {% include 'SvgIcon/LocationIco.html' %}
                    {% endwith %}
                </span>
                <span>{{org.address.city | title}} {{org.address.state | title}} {{org.address.country | title}}
                    {{org.address.code | title}}</span>
            </li>
            {% if orgSize %}
                <li class="flex items-center">
                    <span class="icon userCardIcon">
                        {% with width=20 height=20 color="#3D4756"%}
                        {% include 'SvgIcon/OrganizationIco.html' %}
                        {% endwith %}
                    </span>
                    <span>{{orgSize}} Employees Working</span>
                </li>
            {% endif %}
            {% if teamName %}
                <li class="flex items-center">
                    <span class="icon userCardIcon">
                        {% with width=20 height=20 color="#3D4756"%}
                        {% include 'SvgIcon/UserGroupIco.html' %}
                        {% endwith %}
                    </span>
                    <span>{{teamName | title}}</span>
                </li>
            {% endif %}
            {% if org.description %}
                <li class="flex items-center">
                    <span class="icon userCardIcon">
                        {% with width=20 height=20 color="#3D4756"%}
                        {% include 'SvgIcon/NoteIco.html' %}
                        {% endwith %}
                    </span>
                    <span class="profileDescription">{{org.description | title}}</span>
                </li>
            {% endif %}
            <li class="flex items-center">
                <ul class="flex items-center mediaIco">
                    <li>
                        <a href={{org.webSiteLink}}>
                            {% with width=20 height=20 color="#3D4756" %}
                            {% include 'SvgIcon/WebsiteIco.html' %}
                            {% endwith %}
                        </a>
                    </li>
                    <li>
                        <a href="{{ org.socialMediaLink }}" target="_self">
                            {% with width=20 height=20 color="#3D4756"%}
                            {% include 'SvgIcon/LinkedInIco.html' %}
                            {% endwith %}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
<script>
    console.log("{{slug}}")
    window.addEventListener("load", async () => {
    console.log("loading data")
    console.log("{{slug}}")
    
    await fetch("/users/set-current-active-organization", {
        method: "POST", 
        credentials: "same-origin", 
        headers: {
            "Content-Type": "application/json",
            "X-CSRFToken" : document.cookie.split('; ').find(row => row.startsWith('csrftoken=')).split('=')[1]
        },
        body: JSON.stringify({
            slug  : "{{slug}}",
            // csrftoken : document.cookie.split('; ').find(row => row.startsWith('csrftoken=')).split('=')[1]
        }),
    });
})
</script>