<ul class="flex items-center flex-wrap userCard">
    <li class="userImageSec">
        <img src="{{logo}}" class="OrgProfileImage" alt="">
    </li>
    <li>
        <ul class="userCardDetails flex flex-col justify-between items-start">
            <li class="userCard-top-section">
                <ul class="flex items-center userName-section">
                    <li class="userName">
                        <h1>{{org.name}}</h1>
                    </li>
                </ul>
            </li>
            <li class="flex items-center">
                <span class="icon userCardIcon">
                    {% with width=20 height=20 color="#3D4756"%}
                    {% include 'SvgIcon/EnvelopIco.html' %}
                    {% endwith %}
                </span>
                <span>{{org.contactEmail}}</span>
            </li>
            <li class="flex items-center">
                <span class="icon userCardIcon">
                    {% with width=20 height=20 color="#3D4756"%}
                    {% include 'SvgIcon/LocationIco.html' %}
                    {% endwith %}
                </span>
                <span>{{org.address.city | title}} {{org.address.state | title}} {{org.address.country | title}}
                    {{org.address.code | title}}</span>
            </li>
            <li class="flex items-center">
                <span class="icon userCardIcon">
                    {% with width=20 height=20 color="#3D4756"%}
                    {% include 'SvgIcon/OrganizationIco.html' %}
                    {% endwith %}
                </span>
                <span>{{orgSize}} employee working</span>
            </li>
        </ul>
        <ul>
            <li>
                <ul class="flex items-center mediaIco">
                    <li>
                        <a href={{org.webSiteLink}}>
                            {% with width=20 height=20 color="#3D4756" %}
                            {% include 'SvgIcon/WebsiteIco.html' %}
                            {% endwith %}
                        </a>
                    </li>
                    <li>
                        <a href="{{ org.socialMediaLink }}" target="_self">
                            {% with width=20 height=20 color="#3D4756"%}
                            {% include 'SvgIcon/LinkedInIco.html' %}
                            {% endwith %}
                        </a>
                    </li>
                </ul>
            </li>
            <li class="profileDescription">{{org.description}}</li>
        </ul>
    </li>
</ul>