{% extends "base.html" %}
{% csrf_token %}
{% load static %}
{% block page_title %}
{{ text | title }}
{% endblock %}

{% block css_block %}
<link rel="stylesheet" href={% static "css/Global.css" %}>
<link rel="stylesheet" href={% static "css/CreateOrganization.css" %}>

{% endblock %}
{% block content %}
<h1>Profile</h1>

<script>
    window.addEventListener("load", async () => {
        console.log("loading data")
        await fetch("/users/set-current-active-organization", {
            method: "POST", 
            credentials: "same-origin", 
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken" : document.cookie.split('; ').find(row => row.startsWith('csrftoken=')).split('=')[1]
            },
            body: JSON.stringify({
                slug  : "{{slug}}",
                // csrftoken : document.cookie.split('; ').find(row => row.startsWith('csrftoken=')).split('=')[1]
            }),
        });
    })
</script>
{% endblock %}