{% extends "base.html" %}
{% csrf_token %}

{% load static %}
{% load index_filter %}
{% block page_title %}
{{ text | title }}
{% endblock %}

{% block css_block %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<link rel="stylesheet" href={% static "css/Global.css" %}>
<link rel="stylesheet" href={% static "css/Table.css" %}>
<link rel="stylesheet" href={% static 'css/homeNav.css' %}>
<link rel="stylesheet" href={% static "css/CreateOrganization.css" %}>
<link rel="stylesheet" href={% static "css/UserInfo.css" %}>
<link rel="stylesheet" href={% static "css/NavigationOptions.css" %}>
<link rel="stylesheet" href={% static "css/JobTitle.css" %}>
<link rel="stylesheet" href={% static "css/Dotnut.css" %}>
<link rel="stylesheet" href={% static "css/Pagination.css" %}>
<link rel="stylesheet" href={% static "css/Attendance.css" %}>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src={% static 'js/script.js' %}></script>


{% endblock %}
{% block content %}
{% include "Nav.html" %}
{% include "Profile/profile.html" %}

{% with page="job-title" app="organization"%}
{% include "NavigationOptions.html" %}
{% endwith %}

<!-- stats -->
<div class="att_chart_sec">
    <ul class="att_chart_sec1">
        <li class="att_cards box-shadow border-light">
            <ul>
                <li class="title title_card">Leaders</li>
                <li class="flex justify-end items-center att_card_stat">
                    <span>2</span>
                    <span>/</span>
                    <span>10</span>
                </li>
            </ul>
        </li>
        <li class="att_cards box-shadow border-light">
            <ul>
                <li class="title title_card">Co-Leaders</li>
                <li class="flex justify-end items-center att_card_stat">
                    <span>2</span>
                    <span>/</span>
                    <span>10</span>
                </li>
            </ul>
        </li>
        <li class="att_cards box-shadow border-light">
            <ul>
                <li class="title title_card">Members</li>
                <li class="flex justify-end items-center att_card_stat">
                    <span>6</span>
                    <span>/</span>
                    <span>10</span>
                </li>
            </ul>
        </li>
        <li class="att_cards box-shadow border-light">
            <ul>
                <li class="title title_card">Avg Attendance</li>
                <li class="flex justify-end items-center att_card_stat">
                    <span>60%</span>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="att_chart_sec2">
        {% with id="chart1" %}
        {% include "dotnut.html" %}
        {% endwith %}

        {% with id="chart2" %}
        {% include "LineChart.html" %}
        {% endwith %}
    </ul>
</div>

<!-- openAction
editAction
deleteAction -->


{% with page=page app="organization" data=tableData title=tableTitle action='/organization/job-title'  slug=slug afterSlug=afterSlug isEdit=isEdit jobTitleId=jobTitleId isAutoConstructHref=jobTitleDetails columnCount=columnCount %}
{% include "table.html" %}
{% endwith %}

{% with app="organization" total=totalJobTitle action="/organization/job-title" slug=slug page=pageNo%}
{% include "pagination.html" %}
{% endwith %}

{% endblock %}