{% extends "base.html" %}
{% csrf_token %}

{% load static %}
{% load index_filter %}
{% block page_title %}
{{ "Job Title" | title }}
{% endblock %}

{% block css_block %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<link rel="stylesheet" href={% static "css/Global.css" %}>
<link rel="stylesheet" href={% static "css/Table.css" %}>
<link rel="stylesheet" href={% static 'css/homeNav.css' %}>
<link rel="stylesheet" href={% static "css/CreateOrganization.css" %}>
<link rel="stylesheet" href={% static "css/UserInfo.css" %}>
<link rel="stylesheet" href={% static "css/NavigationOptions.css" %}>
<link rel="stylesheet" href={% static "css/JobTitle.css" %}>
<link rel="stylesheet" href={% static "css/Dotnut.css" %}>
<link rel="stylesheet" href={% static "css/Pagination.css" %}>
<link rel="stylesheet" href={% static "css/Attendance.css" %}>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src={% static 'js/script.js' %}></script>
<script src={% static 'js/Fetch.js' %}></script>


{% endblock %}
{% block content %}
{% include "Nav.html" %}
{% include "Profile/profile.html" %}


{% if isStatsToShow %}
{% with page="job-title" app="organization"%}
{% include "NavigationOptions.html" %}
{% endwith %}

<!-- stats -->
{% with chatName="Employees per job-title" id="chart2" url="/organization/get-employee-count-per-job-title-org" slug=slug afterSlug='' %}
{% include "LineChart.html" %}
{% endwith %}

{% else %}
{% if jobTitleDetails == True %}
<a class="title " style="margin-left: 10px; color: var(--blue-primary);" href="/organization/job-title/{{slug}}">Job-Title/</a>
{% endif %}
<div class="title section_title p-10">Employees working as {{jobTitle | title}}</div>

{% endif %}

<!-- openAction
editAction
deleteAction -->

{% with page=page app="organization" data=tableData title=tableTitle action='/organization/job-title'  slug=slug afterSlug=afterSlug isEdit=isEdit jobTitleId=jobTitleId isAutoConstructHref=jobTitleDetails columnCount=columnCount %}
{% include "table.html" %}
{% endwith %}


{% with app="organization" total=totalJobTitle action="/organization/job-title" slug=slug page=pageNo%}
{% include "pagination.html" %}
{% endwith %}

{% endblock %}