{% extends "base.html" %}
{% csrf_token %}
{% load static %}
{% block page_title %}
{{ text | title }}
{% endblock %}

{% block css_block %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<link rel="stylesheet" href={% static "css/Global.css" %}>
<link rel="stylesheet" href={% static 'css/homeNav.css' %}>
<link rel="stylesheet" href={% static "css/CreateOrganization.css" %}>
<link rel="stylesheet" href={% static "css/UserInfo.css" %}>
<link rel="stylesheet" href={% static "css/NavigationOptions.css" %}>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src={% static 'js/script.js' %}></script>


{% endblock %}
{% block content %}
{% include "Nav.html" %}
{% include "Profile/profile.html" %}
{% with page="leave-request" app="organization"%}
{% include "NavigationOptions.html" %}
{% endwith %}
{% endblock %}