.form_title {
    color: var(--orange-primary);
}

.formContainer {
    width: 70vw;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    /* border: 1px solid red; */
}

.form_row {
    padding: 5px;
}

.form_row label {
    margin-bottom: 5px;
}


.form_row input,
.form_row select,
.form_row textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid var(--slate-500);
}

.form_row input[type="submit"] {
    background-color: var(--orange-primary);
    color: white;
    font-weight: 500;
    font-size: 18px;
    border-color: transparent;
    cursor: pointer;
}